
{{#if isSavedAssessment}}<div class="alert alert-success" role="alert">Your Assessment was saved! <strong>Please review your notes</strong> to ensure it is properly formatted.</div>{{/if}}

<div class="row">
    <div class="col-md-12">
        <h1>Assessment</h1>

        <label>Assessor</label>
        <p>{{assessor.name}}</p>

        <label>Recommendation</label>
        <p>{{scoreText}}</p>

        <label>Notes</label>
        <p>{{{notesDisplay}}}</p>

        <label>Created at</label>
        <p>{{createdAtDisplay}}</p>

        {{#if canEdit}}{{#link-to 'assessment.edit' this class="btn btn-primary"}}Edit{{/link-to}} {{/if}}
        {{#link-to 'submissions.index' class="btn btn-primary"}}Back to Submissions{{/link-to}}
    </div>
</div>
