# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

node_modules/ember-cli/node_modules/bower/node_modules/.bin/
node_modules/ember-cli/node_modules/bower/node_modules/cardinal/node_modules/redeyed/node_modules/.bin/
node_modules/ember-cli/node_modules/bower/node_modules/decompress-zip/node_modules/.bin/
node_modules/ember-cli/node_modules/bower/node_modules/decompress-zip/node_modules/touch/node_modules/.bin/
node_modules/ember-cli/node_modules/bower/node_modules/handlebars/node_modules/.bin/
node_modules/ember-cli/node_modules/bower/node_modules/insight/node_modules/.bin/
node_modules/ember-cli/node_modules/bower/node_modules/insight/node_modules/inquirer/node_modules/chalk/node_modules/.bin/
node_modules/ember-cli/node_modules/bower/node_modules/insight/node_modules/os-name/node_modules/.bin/
node_modules/ember-cli/node_modules/bower/node_modules/update-notifier/node_modules/.bin/
node_modules/ember-cli/node_modules/bower/node_modules/update-notifier/node_modules/chalk/node_modules/.bin/
node_modules/ember-cli/node_modules/bower/node_modules/update-notifier/node_modules/configstore/node_modules/.bin/
node_modules/ember-cli/node_modules/bower/node_modules/update-notifier/node_modules/configstore/node_modules/js-yaml/node_modules/.bin/
node_modules/ember-cli/node_modules/bower/node_modules/update-notifier/node_modules/string-length/node_modules/.bin/
node_modules/ember-cli/node_modules/broccoli-caching-writer/node_modules/.bin/
node_modules/ember-cli/node_modules/broccoli-clean-css/node_modules/.bin/
node_modules/ember-cli/node_modules/broccoli-es3-safe-recast/node_modules/es3-safe-recast/node_modules/.bin/
node_modules/ember-cli/node_modules/broccoli-es3-safe-recast/node_modules/es3-safe-recast/node_modules/recast/node_modules/.bin/
node_modules/ember-cli/node_modules/broccoli-es6-concatenator/node_modules/.bin/
node_modules/ember-cli/node_modules/broccoli-jshint/node_modules/.bin/
node_modules/ember-cli/node_modules/broccoli-jshint/node_modules/chalk/node_modules/.bin/
node_modules/ember-cli/node_modules/broccoli-jshint/node_modules/jshint/node_modules/.bin/
node_modules/ember-cli/node_modules/broccoli-uglify-js/node_modules/.bin/
node_modules/ember-cli/node_modules/broccoli/node_modules/.bin/
node_modules/ember-cli/node_modules/broccoli/node_modules/handlebars/node_modules/.bin/
node_modules/ember-cli/node_modules/broccoli/node_modules/tiny-lr/node_modules/noptify/node_modules/.bin/
node_modules/ember-cli/node_modules/chalk/node_modules/.bin/
node_modules/ember-cli/node_modules/configstore/node_modules/.bin/
node_modules/ember-cli/node_modules/configstore/node_modules/js-yaml/node_modules/.bin/
node_modules/ember-cli/node_modules/inquirer/node_modules/chalk/node_modules/.bin/
node_modules/ember-cli/node_modules/npm/node_modules/columnify/node_modules/.bin/
node_modules/ember-cli/node_modules/readline2/node_modules/chalk/node_modules/.bin/
node_modules/ember-cli/node_modules/testem/node_modules/.bin/js-yaml
node_modules/ember-cli/node_modules/testem/node_modules/.bin/node-http-proxy
node_modules/ember-cli/node_modules/testem/node_modules/.bin/tap
node_modules/ember-cli/node_modules/testem/node_modules/http-proxy/node_modules/utile/node_modules/.bin/
node_modules/ember-cli/node_modules/testem/node_modules/js-yaml/node_modules/.bin/
node_modules/ember-cli/node_modules/testem/node_modules/npmlog/node_modules/.bin/
node_modules/ember-cli/node_modules/testem/node_modules/socket.io/node_modules/socket.io-client/node_modules/.bin/
node_modules/ember-cli/node_modules/testem/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/
node_modules/ember-cli/node_modules/testem/node_modules/tap/node_modules/.bin/
node_modules/ember-cli/node_modules/testem/node_modules/tap/node_modules/runforcover/node_modules/bunker/node_modules/burrito/node_modules/.bin/
node_modules/ember-cli/node_modules/tiny-lr/node_modules/noptify/node_modules/.bin/

